@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

body{ 
    min-height: 100vh;
    width: 90%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #64748b;
}

body::-webkit-scrollbar-thumb {
   background: #334155;
   border-radius: 10px;
}




