/* HomePage */

.container-div {
    margin-top: 13vh;
    width: auto;
    height: 90vh;
}


/* NavBar */

.nav-bar {
    height: 14vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease-in-out;
}

/* Swiper */

swiper-container {
    padding: 4vw;
}

.card-container {
    bottom: -100%;
    transition: bottom 0.5s ease-out;
}

.project-img:hover .card-container {
    bottom: 0%;
    
}



