/* HomePage */

.container-div {
    margin-top: 13vh;
    width: auto;
    height: 90vh;
}


/* NavBar */

.nav-bar {
    height: 14vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease-in-out;
}

/* Swiper */

swiper-container {
    height: 50%;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

swiper-slide{
    padding: 15px;
}

.img-card {
    box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.821);
    border-radius: 0.5rem;
}

.card-container {
    bottom: -150%;
    transition: bottom 0.5s ease-out;
}

.project-img:hover .card-container {
    bottom: 0%;
    
}


/* Slider Infinite */

.slider .slide-track {
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(10vw * 20);
}

.slide {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img{
    width: 40%;
    
}

@keyframes scroll {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(calc(-10vw * 10));
    }
}

/*  img-photo section 3*/

.container-photo {
    width: 25%;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
}

.img-photo {
    width: 100%;
    height: 100%;
    
}