/* HomePage */

.container-div {
    margin-top: 13vh;
    width: auto;
    height: 80vh;
}


/* NavBar */

.nav-bar {
    height: 14vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease-in-out;
}


